@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #3a2a2a;
  --accent-background: rgb(188, 188, 240);
  --accent-background2: rgb(225, 225, 247);
  --accent-foreground: rgb(12, 12, 13);
  --navbarbg: var(--background);
  --footerbg: var(--background);
}


html, body {
  overscroll-behavior: none;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  transition: text-decoration 0.2s;
}

a:hover {
  text-decoration: underline;
}
nav a:hover {
  text-decoration: none;
}
